<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .bootbox .modal-dialog{
    width: 350px !important;
    padding-top: 200px;  
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
    md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 15px;
    padding-top: 14px;
    padding-right: 15px;
  }
  md-card {
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);*/
    box-shadow:0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 1px 0 rgba(0, 0, 0, 0.20), 0 0px 0px 0px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.newEleme{
  padding-top: 0px;padding-bottom: 0px;
}
.textbold{
    font-weight: bold;
    font-size: 15px;
    padding-right: 15px;
    padding-top: 12px;
    color: #58666E;
  }
</style>
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
  <div class="col-md-4">
    <h4 class="m-n font-thin h4"><i class="fa fa-user"></i> &nbsp&nbsp<b>HR Management</b> | Payslip for Employee</h4>
    </div>
    <div class="col-md-8">
    <ul class="breadcrumb pull-right">
      <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
      <li><a href="">Elements</a></li>
      <li class="active">Components</li>
    </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <!-- <div class="panel-body"> -->
    <!-- <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled" method="get">
    <legend>Generate Employee Payslip - Siva  </legend>
      <div class="form-group" ng-controller="DatepickerDemoCtrl" >
          <label class="col-lg-2">Pay Period </label>
          <label class="col-lg-1"> : </label>
          <div class="col-md-3">
          <div class="input-group w-md">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        </div>
        </div>
      <div class="form-group element ">
          <label class="col-lg-2">Name </label>
          <label class="col-lg-1"> : </label>
          <div class="col-lg-3">
            <p class=""><b>Siva(EMP045556)</b></p>
          </div>
      </div>
      <div class="form-group element">
          <label class="col-lg-2">Department </label>
          <label class="col-lg-1"> : </label>
          <div class="col-lg-3">
            <p class=""><b>English</b></p>
          </div>
      </div>
      <div class="form-group element">
          <label class="col-lg-2">Position</label>
          <label class="col-lg-1"> : </label>
          <div class="col-lg-3">
            <p class=""><b>Junior</b></p>
          </div>
      </div>
      <legend>Payroll Details</legend>
        <div class="form-group element">
          <label class="col-lg-2">Payroll Group </label>
          <label class="col-lg-1"> : </label>
          <div class="col-lg-3">
            <p class=""><b> Current Payslip </b></p>
          </div>
        </div>
            <div class="form-group element">
          <label class="col-lg-2">Payment Frequency</label>
          <label class="col-lg-1"> : </label>
          <div class="col-lg-3">
            <p class=""><b>  Monthly </b></p>
          </div>
        </div> -->

  <!--   <md-content class="" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="100" layout="column">
          <div class="col-md-12">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="20">
              <label>Payroll Group </label>
            </div>
            <div flex flex-gt-xs="20">
              <label>Net Pay</label>
            </div>
          </div>
          </div>
          <div class="col-md-12" >
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="20">
              <label>Payroll Group </label>
            </div>
            <div flex flex-gt-xs="20">
              <label>Net Pay</label>
            </div>
          </div>
          </div>
          <div class="col-md-12" >
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="20">
              <label>Payroll Group </label>
            </div>
            <div flex flex-gt-xs="20">
              <label>Net Pay</label>
            </div>
          </div>
          </div>
      </div>
    </md-content> -->
    <md-content layout-padding>
      <form>
        <legend>Paysilp for Employee</legend>
        <div layout-gt-xs="row">
          <div flex-gt-xs="45">
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Empolyee Pay Period </label>
              </div>
              <div flex-gt-xs="5"></div>
              <div flex-gt-xs="45">
                <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Empolyee Name </label>
              </div>
              <div flex-gt-xs="10"></div>
              <div flex-gt-xs="45">
                <label class="textbold">Ravi kumar</label>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Empolyee Department</label>
              </div>
              <div flex-gt-xs="10"></div>
              <div flex-gt-xs="45">
                <label class="textbold">English</label>
              </div>
            </div>
          </div>
          <div flex-gt-xs="10"></div>
          <div flex-gt-xs="45">
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Employee Position</label>
              </div>
              <div flex-gt-xs="10"></div>
              <div flex-gt-xs="45">
                <label class="textbold">Senior Manager</label>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Payroll Group</label>
              </div>
              <div flex-gt-xs="10"></div>
              <div flex-gt-xs="45">
                <label class="textbold">Current Payroll Group</label>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div flex-gt-xs="45">
                <label class="">Payment Frequency</label>
              </div>
              <div flex-gt-xs="10"></div>
              <div flex-gt-xs="45">
                <label class="textbold">Monthly</label>
              </div>
            </div>
          </div>
        </div>
        <br>      
        <div layout-gt-xs="row">
          <div flex-gt-xs="45">
            <legend style="margin-bottom: 7px">Earnings <i ng-click="addEarnings()" class="fa fa-plus-square" style="float: right;color: green;cursor: pointer"></i></legend>
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
              <div flex flex-gt-xs="45">
                <label>Basic</label>
              </div>
              <div flex flex-gt-xs="55">
                <md-input-container class="md-block" flex-gt-sm>
                  <input type="number" name="social" ng-model="social1"/>
                </md-input-container>
              </div>  
            </div>
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-keyup="sumdata()">
            <div flex flex-gt-xs="45">
              <label>Housing Allowance</label>
            </div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="social" ng-model="social2"/>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="45">
              <label>Transport Allowance</label>
            </div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="social" ng-model="social3">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" id="wrapDIV" ng-repeat="x in Earningsdata" >
            <div flex flex-gt-xs="35">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social"  ng-model="x.lablefiled" />
              </md-input-container>
            </div>
            <div flex flex-gt-xs="10"></div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm >
                <input type="number" name="social" ng-model="x.valueFiled" ng-click="extra()"/>
              </md-input-container>
            </div>  
            <i class="fa fa-minus-square" ng-click="removeEarnings($index)" style="font-size: 22px;padding-top: 12px;color: red;cursor: pointer;"></i>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="45">
              <label>Total Earnings</label>
            </div>
            <div flex flex-gt-xs="55">
              <label>{{TotalEarning()}}</label>
            </div>
          </div>
          </div>
          <div flex-gt-xs="10"></div>
          <div flex-gt-xs="45">
            <legend style="margin-bottom: 7px">Deduction <i ng-click="addDeduction()" class="fa fa-plus-square" style="float: right;color: green;cursor: pointer"></i></legend>
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="45">
              <label>Income Tax</label>
            </div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="social" ng-model="socialdec1" type="number"  />
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="45">
              <label>Provident Fund</label>
            </div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="social" ng-model="socialdec2" type="number" />
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="45">
              <label>ESI</label>
            </div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="social" ng-model="socialdec3" type="number" />
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" id="wrapDIV" ng-repeat="x in Deductiondata" >
            <div flex flex-gt-xs="35">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="text" name="social" ng-model="x.lablefiled"  />
              </md-input-container>
            </div>
            <div flex flex-gt-xs="10"></div>
            <div flex flex-gt-xs="55">
              <md-input-container class="md-block" flex-gt-sm >
                <input type="number" name="social" ng-model="x.valueFiled"/>
              </md-input-container>
            </div>  
            <i class="fa fa-minus-square" ng-click="removeDeduction($index)" style="font-size: 22px;padding-top: 12px;color: red;cursor: pointer"></i>
          </div>
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
            <div flex flex-gt-xs="45">
              <label>Total Deduction</label>
            </div>
            <div flex flex-gt-xs="55">
              <label>{{TotalDeduction()}}</label>
            </div>
          </div>
          </div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs="100">
            <div layout-gt-xs="row">
              <div flex flex-gt-xs="20">
                <label><b>Net Pay</b></label>
              </div>
              <div flex flex-gt-xs="20">
                <label><b>Rs,{{Netpay()}}</b></label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </md-content>
    <md-content class="" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
    <!-- <md-card> -->
    <div class="col-md-12" style="padding-top: 0px;padding-bottom: 6px">
    <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" >
      
    </div>
    </div>
    <!-- </md-card> -->
    </div>
    </md-content>
    </form>
      </div>
    </div>
  <!-- </div> -->
</div>

