<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .bootbox .modal-dialog{
    width: 350px !important;
    padding-top: 200px;  
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
    md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 15px;
    padding-top: 14px;
    padding-right: 15px;
  }
  .textbold{
    font-weight: bold;
    font-size: 15px;
    padding-right: 15px;
    padding-top: 12px;
    color: #58666E;

  }

</style>
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
  <div class="col-md-4">
    <h4 class="m-n font-thin h4"><i class="fa fa-user"></i> &nbsp&nbsp<b>HR Management</b> | View Payslip</h4>
    </div>
    <div class="col-md-8">
    <ul class="breadcrumb pull-right">
      <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
      <li><a href="">Elements</a></li>
      <li class="active">Components</li>
    </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- <form role="form" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
            <legend>Generate Payslips - Keerthi (EMP003)</legend>
            <div class="form-group adjust">
                <label class="col-lg-2">Name </label>
                <label class="col-lg-1"> : </label>
                <div class="col-lg-3">
                  <p class=""><b>Keerthi</b></p>
                </div>
            </div>
            <div class="form-group adjust">
                <label class="col-lg-2">Department </label>
                <label class="col-lg-1"> : </label>
                <div class="col-lg-3">
                  <p class=""><b>Maths</b></p>
                </div>
            </div>
            <div class="form-group adjust">
                <label class="col-lg-2">Position </label>
                <label class="col-lg-1"> : </label>
                <div class="col-lg-3">
                  <p class=""><b>Junior</b></p>
                </div>
            </div>
            <div class="form-group adjust">
                <label class="col-lg-2">Payroll group </label>
                <label class="col-lg-1"> : </label>
                <div class="col-lg-3">
                  <p class=""><b>Current Payslip</b></p>
                </div>
            </div>
      </form> -->
    <!-- <md-content layout-padding> -->
    <md-content>
      <form name="myform">
        <legend>Generate Payslip</legend>
          <div layout-gt-xs="row">
            <div flex-gt-xs="45">
              <div layout-gt-sm="row">
                <div flex-gt-xs="40">
                  <label>Employee Name</label>
                </div>
                <div flex-gt-xs="10"></div>
                <div flex-gt-xs="40">
                  <label class="textbold">Kumaran</label>
                </div>
              </div>
              <div layout-gt-sm="row">
                <div flex-gt-xs="40">
                  <label >Employee Department</label>
                </div>
                <div flex-gt-xs="10"></div>
                <div flex-gt-xs="40">
                  <label class="textbold">Tamil</label>
                </div>
              </div>
            </div>
            <div flex-gt-xs="10"></div>
            <div flex-gt-xs="45">
              <div layout-gt-sm="row">
                <div flex-gt-xs="40">
                  <label>Employee Position </label>
                </div>
                <div flex-gt-xs="10"></div>
                <div flex-gt-xs="40">
                  <label class="textbold">Manager</label>
                </div>
              </div>
              <div layout-gt-sm="row">
                <div flex-gt-xs="40">
                  <label>Payroll Group</label>
                </div>
                <div flex-gt-xs="10"></div>
                <div flex-gt-xs="40">
                  <label class="textbold" >Current Payslip</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </md-content>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="table table-responsive">
      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
        <tr>
            <th style="width:185px !important">
              <form class="form-inline">
                <div class="form-group">
                  <label for="email">Item by Page &nbsp;</label>
                  <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
                </div>
              </form>
            </th>
              <th colspan="2">
                 <div>
                  <select class="input-sm form-control w-sm inline v-middle" ng-model="bulkaction">
                    <option value="0">Bulk action</option>
                    <option value="1">Delete selected</option>
                    <option value="3">Export</option>
                  </select>
                  <button class="btn btn-sm btn-default" ng-click="applyAction()">Apply</button>                
                </div>
              </th>
              <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
      </table>
      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th style="width:5px !important"></th>  
            <th>
              <input st-search="'ACA_COU_NAME'" placeholder="Search for Pay Period" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'ACA_COU_CODE'" placeholder="Search for Salary" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'BATCH_COUNT'" placeholder="Search for Payslip status" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          <tr>
            <th>
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="selectall" ng-change="callbackbulk()"><i></i>
              </label>
            </th>
            <th st-sort="ACA_COU_NAME">Pay Period</th>
            <th st-sort="ACA_COU_GRADE_TYPE">Salary</th>
            <th st-sort="BATCH_COUNT">Payslip status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr ng-repeat="row in displayedCollection">
            <td ><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post[$index]" ng-value="$index" ng-change="callbackfunction()"><i></i></label></td>
            <td>{{row.ACA_COU_NAME}}</td>
            <td>{{row.ACA_COU_CODE}}</td>
            <td>{{row.ACA_COU_GRADE_TYPE}}</td>
            <td style="white-space: nowrap">
              <div class="buttons" ng-show="!rowform.$visible">
                <button md-ink-ripple class="md-btn md-raised btn-fw blue" ui-sref="app.Payslip-View">&nbsp<i class="fa  icon-eye"></i>&nbsp</button>
                <button md-ink-ripple class="md-btn md-raised btn-fw green" ui-sref="app.View-Payslip">&nbsp<i class="fa fa-file-pdf-o"></i>&nbsp</button>
                <button md-ink-ripple class="md-btn md-raised btn-fw pink" ng-click="DeleteClass1(row)">&nbsp<i class="fa fa-trash-o"></i>&nbsp</button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tbody ng-if="NoData">
          <tr>
            <td colspan="8" class="text-center">No Data Found !</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="3" style="padding-top: 3%">
            <div ng-show="rowCollection.length > itemsByPage">
              <p>Showing {{currentViewCalculation()}} to {{currentViewCalculationMax()}} of {{rowCollection.length}} entries</p>
            </div>
          </td>
          <td colspan="4">
              <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html" class="pull-right"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
      </div>
    </div>
  </div>
</div>

