
<div class="bg-light lter b-b wrapper-md">
  <h4 class="m-n font-thin h4"><i class="icon-social-dropbox"></i> &nbsp&nbsp<b>Discipline</b> | Complaints </h4>
</div>
<!-- data table -->
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
     Add Complaints 
    </div>
    <div class="panel-body">
     <form class="bs-example form-horizontal ng-pristine ng-valid">
        <div class="row">
          <div class="form-group">
            <label class=" col-md-3 control-label ">Complaint number</label>
            <div class="col-md-3">
              <input type="text" class="form-control input-sm" id="" name="STU_ADM_NO">  
            </div>              
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-3">
              <input type="text" class="form-control input-sm" id="" name="STU_ADM_FIRST_NAME" placeholder="">
            </div>   
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-3">
                <textarea type="text" class="form-control input-sm" id="" name="STU_ADM_MIDDLE_NAME" placeholder="" style="height:32px;"></textarea>
            </div>   
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Trial Date</label>
            <div class="col-md-3" ng-controller="DatepickerDemoCtrl">
              <div class="input-group">
                <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="STU_ADM_DT" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="form-group">
            <label class="col-md-3 control-label">Attachments (5MB max)</label>
            <div class="col-md-3">
              <input ui-jq="filestyle" ui-options="{icon: false, buttonName: 'btn-primary'}" type="file" multiple="">
            </div>
          </div>
        </div><br>
        <div class="col-md-offset-3">
          <button type="button" class="btn btn-success " ng-click="steps.percent=100" style="margin-left:60px;">Save</button>
          <button type="button" class="btn btn-danger " ng-click="steps.percent=100">Cancel</button>
        </div>
     </form>
    </div><br>
    </div>
      <hr>
  </div>
</div>


