<style>
md-dialog{
  max-width: 35% !important;
  /*max-height: 103% !important;*/
}
md-input-container {
    margin: 26px 0 0 !important;
}
.m-b {
    margin-bottom: 0px !important;
}
</style>

<md-dialog aria-label="Mango (Fruit)">
  <form name="Form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4 ng-if="Save">Add Batch Details</h4>
        <h4 ng-if="Edit">Edit Batch Details</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <br>
      <div class="col-md-10 col-md-offset-1">
        <!-- <md-input-container class="md-block">
          <label>Country</label>
          <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
            <md-option value="India">India</md-option>
            <md-option value="America">America</md-option>
            <md-option value="Australia">Australia</md-option>
            <md-option value="England">England</md-option>
            <md-option value="Srilanga">Srilanga</md-option>
          </md-select>
        </md-input-container> -->
        <md-input-container class="md-block">
          <label>Course Name</label>
          <md-select ng-model="Batch.ACA_BAT_COU_ID">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="batch in rowCollectionCourse" ng-value="batch.ACA_COU_ID">
              {{batch.ACA_COU_NAME}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <label>Batch Name</label>
          <input required name="ACA_BAT_NAME" ng-model="Batch.ACA_BAT_NAME">
          <div ng-messages="Form.ACA_BAT_NAME.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <md-datepicker ng-model="Batch.ACA_BAT_START_DT" md-placeholder="Start Date" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <md-datepicker ng-model="Batch.ACA_BAT_END_DT" md-placeholder="End Date" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
    </md-dialog-content>
    <br>

    <md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
      <span flex></span>
      <div class="m-b">
      <!-- <md-button ng-click="cancel()" class="md-accent md-raised">
       Cancel
      </md-button> -->
      <button ng-click="cancel()" class="md-btn md-raised m-b btn-fw red" md-ink-ripple="">
      Cancel
      <div class="md-ripple-container" style=""></div>
      </button>&nbsp
      <button ng-click="saveBatch();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" ng-if="Savebutton">
      &nbsp Save &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      <button ng-click="updateBatch();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" ng-if="Updatebutton">
      &nbsp Update &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      <!-- <md-button ng-click="saveSubject();Form.$setPristine()" ng-disabled="Form.$invalid" class="md-primary md-raised">
        Save
      </md-button> -->
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>

