<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
</style>
<div>

  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>Employee settings</b> | Employee category</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>

  <div class="wrapper-md" >
  <div class="">
        
      </div>
    <div class="panel panel-default">
    <div style="padding:10px !important;margin-right: 10px;">
      <button class="btn btn-success m-b-sm" ng-click="addBankDetails()" style="float: right !important;"><i class="fa fa-plus"></i>Add Category</button>
    </div>
    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
      <tr>
          <th style="width:185px !important">
            <form class="form-inline">
              <div class="form-group">
                <label for="email">Item by Page &nbsp;</label>
                <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
              </div>
            </form>
          </th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="2">Bulk edit</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
    </table>
    <!-- <hr> -->

      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th></th>
            <th>
              <st-select-distinct collection="rowCollection" predicate="EMP_BNK_NAME"></st-select-distinct>
            </th>
            <th>
              <st-select-multiple collection="rowCollection" predicate="EMP_BNK_ACTIVE_YN"></st-select-multiple>
            </th>
          </tr>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="all"><i></i>
              </label>
            </th>
            <th st-sort="EMP_BNK_NAME">Bank Name</th>
            <th st-sort="EMP_BNK_ACTIVE_YN">Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr ng-repeat="row in displayedCollection">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post"><i></i></label></td>
            <td>
              <span editable-text="row.EMP_BNK_NAME" e-name="EMP_BNK_NAME" e-form="rowform" onbeforesave="checkName($data, row.id)" e-required>
                {{row.EMP_BNK_NAME}}
              </span>
            </td>
            <td>
              <span editable-text="row.EMP_BNK_ACTIVE_YN" e-name="EMP_BNK_ACTIVE_YN" e-form="rowform" onbeforesave="checkName($data, row.id)" e-required>
                {{row.EMP_BNK_ACTIVE_YN}}
              </span>
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" onbeforesave="saveUser($data, row.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row" >
                <button type="submit" ng-disabled="rowform.$waiting" ng-click="saveBankDetails(row)" class="btn btn-sm btn-info">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="removeRow($index)"" class="btn btn-sm btn-default">
                  cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-sm btn-info" ng-click="rowform.$show()"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="deleteData($index)"><i class="fa fa-trash-o"></i></button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <!-- <td colspan="2"></td> -->
          <td colspan="3" class="text-center">
            <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html"></div>
          </td>
          <td colspan="2" class="">
            <div st-pagination="rowCollectionPage" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
          </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
