<div>
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">HR -> Configuration -> Employee Position</h1>
  </div>
  <div class="wrapper-md" >
  <div class="">
        <button class="btn btn-success m-b-lg" ng-click="addPosition()"><i class="fa fa-plus"></i>Add Position</button>
      </div>
    <div class="panel panel-default">
      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" >
        <thead>
          <tr>
          <th style="width:150px !important;">Items by page &nbsp;<input class="input-sm form-control" name="items" id="items" type="number" ng-model="itemsByPage" ></th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="2">Bulk edit</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <input st-search="'EMP_P_NAME'" placeholder="search for position name" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'EMP_P_CATEGORY_ID'" placeholder="search for category name" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'EMP_P_ACTIVE_YN'" placeholder="search for status" class="input-sm form-control" type="search"/>
            </th>
          </tr>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="all"><i></i>
              </label>
            </th>
            <th st-sort="EMP_P_NAME">Position Name</th>
            <th st-sort="EMP_P_CATEGORY_ID">Position Id</th>
            <th st-sort="EMP_P_ACTIVE_YN">Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr ng-repeat="row in displayedCollection">
            <td><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post"><i></i></label></td>
            <td>
              <span editable-text="row.EMP_P_NAME" e-name="EMP_P_NAME" e-form="rowform" onbeforesave="checkName($data, row.id)" e-required>
                {{row.EMP_P_NAME}}
              </span>
            </td>
            <td>
              <span editable-select="row.EMP_P_CATEGORY_ID" e-name="EMP_P_CATEGORY_ID" e-form="rowform" e-ng-options="s.name for s in selectCategory">
              {{ row.EMP_P_CATEGORY_ID}}
              </span>
            </td>
            <td>
              <span editable-text="row.EMP_P_ACTIVE_YN" e-name="EMP_P_ACTIVE_YN" e-form="rowform" onbeforesave="checkName($data, row.id)" e-required>
                {{row.EMP_P_ACTIVE_YN}}
              </span>
            </td>
            <td style="white-space: nowrap">
              <!-- form -->
              <form editable-form name="rowform" onbeforesave="saveUser($data, row.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row" >
                <button type="submit" ng-disabled="rowform.$waiting" ng-click="savePosition(row)" class="btn btn-sm btn-info">
                  save
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
                  cancel
                </button>
              </form>
              <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                <button class="btn btn-sm btn-danger" ng-click="removePosition($index)">del</button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-center">
              <div st-pagination="rowCollectionPage" st-items-by-page="itemsByPage" st-displayed-pages="7" class="no-margin"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
