
<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Transaction | New Donation</h1>
</div> -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-dollar"></i> &nbsp&nbsp<b>Donations</b> | Donations</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>
<!-- data table -->
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading font-bold">
      Add Donation
    </div>
    <div class="panel-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid">
          <div class="form-group">
            <label class="col-lg-2 control-label">Donor Name</label>
            <div class="col-lg-3">
              <input class="form-control" placeholder="" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Description </label>
            <div class="col-lg-3">
              <input class="form-control" placeholder="" type="text">
            </div>
          </div>
           <div class="form-group">
              <label class="col-md-2 control-label">Transaction Date</label>
              <div class="col-md-3" ng-controller="DatepickerDemoCtrl" >
                <div class="input-group ">
                  <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Amount</label>
            <div class="col-lg-3">
              <input class="form-control" placeholder="" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-1">
              <button type="button" name="insert" class="btn btn-primary btn-sm submit" id="submit" >Add</button>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-danger btn-sm" >Cancel</button>
            </div>
          </div>
        </form>
   
    </div>
      <hr>
  </div>
</div>


