<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Finance | Add Expense</h1>
</div> -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-dollar"></i> &nbsp&nbsp<b>Create expense</b> | Create new expenses</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- <button type="button" class="btn btn-primary btn-sm">Add</button> -->
      <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#myModal"> <i class="glyphicon glyphicon-plus"> </i> Add Expense</button>
    </div>
    <div class="table-responsive">
      <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'tpl/Finance/expense_datatable.json',
          aoColumns: [
            { mData: 'name' },
            { mData: 'description' },
            { mData: 'category' },
            { mData: 'amount' },
            { mData: 'date' },
            { mData: 'action' },
          ]
        }" class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:10%">Name</th>
            <th  style="width:10%">Description</th>
            <th  style="width:10%">Category</th>
            <th  style="width:10%">Amount</th>
            <th  style="width:20%">Transaction Date</th>
            <th  style="width:20%">Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
      <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
          <i class="fa  fa-times-circle "></i>
      </button>
      <h4 class="modal-title" id="header">Add Expense</h4>
        </div>
        <div class="modal-body">
      <div class="panel-body">
          <div class="">
        <form method="post" action="" class="form-horizontal">
           <div class="form-group">
            <input type="hidden" name="FINC_TXN_EX_ID">
         <label class="col-md-4 control-label">Title </label>
         <div class="col-md-5">
             <input type="text" name="FINC_TXN_EX_TITLE" class="form-control input-sm" id="name" placeholder="" />
         </div>
           </div>
           <div class="form-group">
         <label class="col-md-4 control-label">Description </label>
         <div class="col-md-5">
             <input type="text" name="FINC_TXN_EX_DESC" class="form-control input-sm" id="description" placeholder="" />
         </div>
           </div>
      <div class="form-group">
         <label class="col-md-4 control-label">Amount </label>
         <div class="col-md-5">
             <input type="text" name="FINC_TXN_EX_AMT" class="form-control input-sm" id="amount" placeholder="" />
         </div>
      </div>
      <div class="form-group">
         <label class="col-md-4 control-label">Date</label>
             <div class="col-md-5" ng-controller="DatepickerDemoCtrl" >
                <div class="input-group ">
                  <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="FINC_TXN_EX_DT"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
            </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Category </label>
          <div class="col-md-5">
            <select  name="FINC_TXN_EX_CA_ID" class="form-control m-b input-md " id="category" ng-model="myDropDownSelect">
              <option value="">Select</option>
              <option value="Daily">studenttt</option>
              <option value="Weekly">bookss</option>
            </select>
          </div>
      </div><br>
      <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-2">
        <button type="button" name="insert" class="btn btn-primary btn-sm submit" id="submit"  >Create</button>
        <button type="button" name="update" class="btn btn-warning btn-sm update hidden" id="update" >Update</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
          </div>
      </div>
       </form>
      </div>
        </div>
    </div>
      </div>
  </div>
