
<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
  /*.modal-dialog{
    width: 350px !important;
  }*/
  .chosen-container.chosen-container-single{
    width:100% !important;
  }
</style>
<div>

  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
     <h4 class="m-n font-thin h4"><i class="icon-book-open"></i> &nbsp&nbsp<b>Fee Refund</b> | View Fee Refund Rule</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Home</a></li>
        <li><a href="">Finance</a></li>
        <li class="active">Add subject</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <!-- <div class="panel-heading" style="padding:19px;"><span style="font-size:18px;"><b>View</b></span>  <button class="btn btn-success m-b-sm" ng-click="addNewSubject()" style="float: right !important;margin-top:-5px;"><i class="fa fa-plus"></i> Add Subject</button></div> -->

<div class="panel-heading" style="padding:19px;"><span style="font-size:18px;"><b>View</b></span>  <!-- <a data-toggle="modal" data-target="#myModal" ng-click="addNewSubject()" class="btn btn-success btn-sm pull-right" style="margin-top:-2px;">
    <i class="fa fa-plus"></i> &nbsp;Add Subject</a> -->
    <md-button class="md-primary md-raised pull-right" ng-click="showAdvanced($event,'Add','data')">
      <i class="mdi-content-add i-24"></i>Add Subject
    </md-button></div>

    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
      <tr>
          <th style="width:185px !important">
            <form class="form-inline">
              <div class="form-group">
                <label for="email">Item by Page &nbsp;</label>
                <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
              </div>
            </form>
          </th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="bulkaction">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="applyAction()">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
    </table>
    <!-- <hr> -->


    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th style="width:5px !important"></th>
            <th>
              <input st-search="'ACA_SUB_CODE'" placeholder="search for name" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <st-select-distinct collection="rowCollection" predicate="ACA_SUB_ELECT_YN"></st-select-distinct>
            </th>
            <th>
              <input st-search="'ACA_SUB_COU_ID'" placeholder="Search for End Date" class="input-sm form-control" type="search"/>
            </th>
            <th></th>
          </tr>
          <tr>
            <th>
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="selectall" ng-change="callbackbulk()"><i></i>
              </label>
            </th>
            <th st-sort="ACA_SUB_CODE">Name</th>
            <th st-sort="ACA_SUB_ELECT_YN">Refund Percentage / Amount</th>
            <th st-sort="ACA_SUB_COU_ID">Refund Validity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr>
            <td ><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post[$index]" ng-value="$index" ng-change="callbackfunction()"><i></i></label></td>
            <td>Test</td>
            <td>50</td>
            <td>25-02-2017</td>
            <td style="white-space: nowrap">
              <div class="buttons" ng-show="!rowform.$visible">
                <button md-ink-ripple class="md-btn md-raised btn-fw indigo" ng-click="showAdvanced($event,'Edit',row)">&nbsp<i class="fa fa-edit"></i>&nbsp</button>
                <button md-ink-ripple class="md-btn md-raised btn-fw pink" ng-click="deleteData(row)">&nbsp<i class="fa fa-trash-o"></i>&nbsp</button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tbody ng-if="NoData">
          <tr>
            <td colspan="8" class="text-center">No Batch Found in This Class !</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="3" style="padding-top: 3%">
            <div ng-show="rowCollection.length > itemsByPage">
              <p>Showing {{currentViewCalculation()}} to {{currentViewCalculationMax()}} of {{rowCollection.length}} entries</p>
            </div>
          </td>
          <td colspan="3">
              <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html" class="pull-right"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
