<style type="text/css">
  .select-page {
    width: 50px;
    text-align: center;
  }
/*  .modal-dialog{
    width: 350px !important;
  }*/
  .bootbox .modal-dialog{
    width: 150px !important;
    padding-top: 200px;  
  }
  .pagination li a input {
    padding: 0;
    margin: -5px 0;
  }
</style>
<div>

  <div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-money"></i> &nbsp&nbsp<b>Fees Configuration</b> | Fine</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Home</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="wrapper-md" >
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
    <div class="panel-heading" style="padding:10px;">
    <span style="font-size:18px;"><b>Fine view</b></span>  
   <!--  <a data-toggle="modal" data-target="#myModal" ng-click="addNewParticular()" class="btn btn-success btn-sm pull-right" style="margin-top:-2px;">
    <i class="fa fa-plus"></i> &nbsp;Add Fine</a> -->
    <md-button class="md-primary md-raised pull-right" ng-click="showAdvanced($event,'Add','data')" style="margin-top:-2px;">
        <i class="mdi-content-add i-24"></i> Add Fine
    </md-button>
    </div>
    <div class="table table-responsive">
    <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" style="border-bottom: 1px solid #cfdadd;">
      <tr>
          <th style="width:185px !important">
            <form class="form-inline">
              <div class="form-group">
                <label for="email">Item by Page &nbsp;</label>
                <select class="input-sm form-control" name="items" id="items" ng-model="itemsByPage"><option value="5" ng-selected="5==itemsByPage">5</option><option value="25">25</option><option value="50">50</option><option value="100">100</option><option value="500">500</option></select>
              </div>
            </form>
          </th>
            <th colspan="2">
               <div>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="bulkaction">
                  <option value="0">Bulk action</option>
                  <option value="1">Delete selected</option>
                  <option value="3">Export</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="applyAction()">Apply</button>                
              </div>
            </th>
            <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
          </tr>
    </table>
    <!-- <hr> -->
      <table class="table table-striped" st-table="displayedCollection" st-safe-src="rowCollection" st-set-filter="customFilter">
        <thead>
          <tr>
            <th style="width:5px !important"></th>
            <!-- <th>
              <st-select-distinct collection="rowCollection" predicate="ACA_COU_NAME"></st-select-distinct>
            </th> -->
            <th>
              <input st-search="'FINC_TXN_IN_TITLE'" placeholder="Search for Name" class="input-sm form-control" type="search"/>
            </th>
            <th>
              <input st-search="'FINC_TXN_IN_DT'" placeholder="Search for ue date" class="input-sm form-control" type="search"/>
            </th>
             <th>
              <input st-search="'FINC_TXN_IN_AMT'" placeholder="Search for amount" class="input-sm form-control" type="search"/>
            </th>
            <!-- <th>
              <st-select-multiple collection="rowCollection" predicate="ACA_COU_GRADE_TYPE"></st-select-multiple>
            </th> -->
          </tr>
          <tr>
            <th>
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-model="selectall" ng-change="callbackbulk()"><i></i>
              </label>
            </th>
            <th st-sort="FINC_TXN_IN_TITLE">Name</th>
            <th st-sort="FINC_TXN_IN_DT">Days after due date</th>
            <th st-sort="FINC_TXN_IN_AMT">Fine amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading">
          <tr ng-repeat="row in displayedCollection">
            <td ><label class="i-checks m-b-none"><input type="checkbox" name="post[]" ng-model="post[$index]" ng-value="$index" ng-change="callbackfunction()"><i></i></label></td>
            <td>{{row.FINC_TXN_IN_TITLE}}</td>
            <td>{{row.FINC_TXN_IN_DT}}</td>
            <td>{{row.FINC_TXN_IN_AMT}}</td>
            <td style="white-space: nowrap">
              <div class="buttons" ng-show="!rowform.$visible">
               
                <!-- <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal" ng-click="EditClass(row)"><i class="fa fa-edit"></i></button> -->
                <button  md-ink-ripple class="md-btn md-raised btn-fw indigo" ng-click="showAdvanced($event,'Edit',row)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="DeleteClass(row)"><i class="fa fa-trash-o"></i></button>
              </div>  
            </td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading">
          <tr>
            <td colspan="5" class="text-center">Loading ...</td>
          </tr>
        </tbody>
        <tbody ng-if="NoData">
          <tr>
            <td colspan="8" class="text-center">No Data Found !</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td colspan="3" style="padding-top: 3%">
              <p>Showing {{currentViewCalculation()}} to {{currentViewCalculationMax()}} of {{rowCollection.length}} entries</p>
          </td>
          <td colspan="4">
              <div st-items-by-page="itemsByPage" st-pagination="" st-template="tpl/pagination.custom.html" class="pull-right"></div>
            </td>
          </tr>
        </tfoot>
      </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog  modal-md" style="padding-top: 87px">
    <div class="modal-content">
        <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button">
          <i class="fa  fa-times-circle "></i>
      </button>
        <h4 class="modal-title" ng-if="Save" id="header">Add Category</h4>
        <h4 class="modal-title" ng-if="Edit" id="header">Edit Category</h4>
        </div>
        <div class="modal-body">
      <div class="panel-body ">
        <form role="form" class="form-horizontal" name="Form" >
          <div class="form-group">
              <label class="col-md-4 control-label"> Name</label>
              <div class="col-md-6">
                <input class="form-control" placeholder="Name" ng-model="class.ACA_COU_NAME" name="ACA_COU_NAME" type="text" required="">
              </div>
            </div>
         <div id="wrapDIV">
            <div class="form-group">
              <label class="col-md-4 control-label">Days after due date</label>
              <div class="col-md-6">
                <input class="form-control" placeholder="due date" ng-model="class.ACA_COU_SEC_NAME" name="ACA_COU_SEC_NAME" type="text" required="">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" >Fine Amount</label>
              <div class="col-md-6">
                <div class="input-group m-b">
                  <span class="input-group-addon">$</span>
                  <input class="form-control" placeholder="Fine Amount" ng-model="class.ACA_COU_SEC_NAME" name="ACA_COU_SEC_NAME" type="text" required="">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label"><p></p>Mode</label>
              <div class="radio col-md-6">
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-click=""> Percentage
                  </label> 
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click=""> Amount
                  </label>
              </div>
            </div>
          </div>
          <div class="paraID " id="paraID">
            <div class="col-md-12" ng-show="hidden" style="padding-left:95%;">
              <a style="color: red;" ng-click="wrapremoveDiv()"> <i class="fa  fa-times-circle "></i></a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3">
              <a style="color: rgb(98,84,178);" ng-click="wrapClonedDiv()"><i class="fa fa-plus"></i> Add fine Slab</a>
              <button type="button" class="btn btn-sm btn-success" ng-click="saveClass();Form.$setPristine()" data-dismiss="modal" class="close" ng-disabled="Form.$invalid" ng-if="Savebutton">&nbsp;Save</button>
              <button type="button" class="btn btn-sm btn-info" ng-click="updateClass(row)" data-dismiss="modal" class="close" ng-if="Updatebutton" ng-disabled="Form.$invalid">&nbsp;Update</button>
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </form>
        </div>
    </div>
      </div>
  </div>
    </div>













<!-- <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg" style="padding-top: 87px">
    <div class="modal-content">
        <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button">
          <i class="fa  fa-times-circle "></i>
      </button>
        <h4 class="modal-title" ng-if="Save" id="header">Add Fine</h4>
        <h4 class="modal-title" ng-if="Edit" id="header">Edit Fine</h4>
        </div>
        <div class="modal-body">
      <div class="panel-body">
       
        <form role="form" class="form-validation" name="Form" >
            <div class="form-group col-md-4 ">
              <label> Name</label>
              <input class="form-control" placeholder="Name" ng-model="class.ACA_COU_NAME" name="ACA_COU_NAME" type="text" required="">
            </div>
         <div id="wrapDIV">
            <div class="form-group col-md-4">
              <label>Days after due date</label>
              <input class="form-control" placeholder="due date" ng-model="class.ACA_COU_SEC_NAME" name="ACA_COU_SEC_NAME" type="text" required="">
            </div>
            <div class="form-group col-md-4">
              <label>Fine Amount</label>
              <div class="input-group m-b">
                <span class="input-group-addon">$</span>
                <input class="form-control" placeholder="Fine Amount" ng-model="class.ACA_COU_SEC_NAME" name="ACA_COU_SEC_NAME" type="text" required="">
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Mode</label>
              <div class="radio">
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-click=""> Percentage
                  </label> 
                  <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" ng-click=""> Amount
                  </label>
              </div>
            </div>
          </div>
          <div class="paraID col-md-12" id="paraID">
             <div class="col-md-12" ng-show="hidden" style="padding-left:95%;">
              <a style="color: red;" ng-click="wrapremoveDiv()"> <i class="fa  fa-times-circle "></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <a style="color: rgb(98,84,178);" ng-click="wrapClonedDiv()"><i class="fa fa-plus"></i> Add fine Slab</a> &nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-success" ng-click="saveClass();Form.$setPristine()" data-dismiss="modal" class="close" ng-disabled="Form.$invalid" ng-if="Savebutton">&nbsp;Save</button>
            <button type="button" class="btn btn-sm btn-info" ng-click="updateClass(row)" data-dismiss="modal" class="close" ng-if="Updatebutton" ng-disabled="Form.$invalid">&nbsp;Update</button>
          </div>
        </form>
      </div>
    </div>
      </div>
  </div>
    </div> -->