<style>
md-dialog{
  max-width: 35% !important;
  /*max-height: 103% !important;*/
}
md-input-container {
    margin: 26px 0 0 !important;
}
.m-b {
    margin-bottom: 0px !important;
}
md-datepicker .md-datepicker-input {
    width: calc(24.5vw - 55px);
    max-width: calc(24.5vw - 55px);
  }
@media only screen and (max-width: 600px) {
    md-datepicker .md-datepicker-input {
      width: calc(87vw - 64px);
      max-width: calc(87vw - 64px);
    }
}
</style>

<md-dialog aria-label="Mango (Fruit)">
  <form name="Form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4 ng-if="Save">Create Refund Rule</h4>
        <h4 ng-if="Edit">Edit Refund Rule</h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    <br>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Fees Collection</label>
          <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
            <md-option value="2015">Term 1 for class1: 02-24-2016  To </md-option>
            <md-option value="2016">Fee for  std_ c1-g4: 03-23-2016  To</md-option>
            <md-option value="2017">Term 2 fee collection: 03-25-2016  To</md-option>
            <md-option value="2018">Fee str: 04-06-2016  To </md-option>
            <md-option value="2019">fee: 12-13-2016  To</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <label>Refund Name</label>
          <input required name="ACA_SUB_NAME" ng-model="Subject.ACA_SUB_NAME">
          <div ng-messages="Form.ACA_SUB_NAME.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <md-datepicker ng-model="Stud.STU_ADM_DOB" md-placeholder="Refund Validity" md-open-on-focus></md-datepicker>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
                <md-radio-group layout="row" ng-model="Stud.STU_ADM_GENDER">
                  <md-radio-button value="Male" class="md-primary"> Percentage </md-radio-button>
                  <md-radio-button value="Female" class="md-primary">Amount</md-radio-button>
                </md-radio-group>
        </md-input-container>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <md-input-container class="md-block">
          <label>Value</label>
          <input required name="ACA_SUB_NAME" ng-model="Subject.ACA_SUB_NAME">
        </md-input-container>
      </div>
    </md-dialog-content>
    <br>
    <br>

    <md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
      <span flex></span>
      <div class="m-b">
      <!-- <md-button ng-click="cancel()" class="md-accent md-raised">
       Cancel
      </md-button> -->
      <button ng-click="cancel()" class="md-btn md-raised m-b btn-fw red" md-ink-ripple="">
      Cancel
      <div class="md-ripple-container" style=""></div>
      </button>&nbsp
      <button ng-click="saveSubject();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" ng-if="Savebutton">
      &nbsp Save &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      <button ng-click="updateSubject();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" ng-if="Updatebutton">
      &nbsp Update &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      <!-- <md-button ng-click="saveSubject();Form.$setPristine()" ng-disabled="Form.$invalid" class="md-primary md-raised">
        Save
      </md-button> -->
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>

