<!-- <div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Transaction | Reverted Transaction </h1>
</div> -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-5">
      <h4 class="m-n font-thin h4"><i class="fa fa-dollar"></i> &nbsp&nbsp<b>Finance Transactions</b> | Reverted transactions</h4>
      </div>
      <div class="col-md-7">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
  </div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      <!-- <button type="button" class="btn btn-primary btn-sm">Add</button> -->
     <a ui-sref="app.Add-Advanced" class="btn btn-sm btn-success" type="button"> <i class="glyphicon glyphicon-plus"> </i> Advanced</a>
    </div>
    <div class="well">
      <form class="bs-example form-horizontal ng-pristine ng-valid">
      <legend>Reverted Transaction</legend>
        <div class="form-group">
          <label class="col-md-2 control-label">Transaction Type</label>
          <div class="col-md-3">
            <select name="" class="form-control m-b input-md" id="" ng-model="myDropDownSelect">
              <option value="fees">Fees</option>
              <option value="payslip">Payslips</option>
              <option value="other">Others</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="">
            <label class="col-md-2 control-label">Search By</label>
            <div class="col-md-3">
              <select name="" class="form-control m-b input-md" id="" ng-model="myDropDown">
                <option value="ad">Admission No</option>
                <option value="date">Date</option>
                <option value="collection">Fee Collection Name</option>
              </select>
            </div>
            <div ng-show="myDropDown=='date'">
              <label class="col-md-1 control-label">Start Date</label>
                  <div class="col-md-2" ng-controller="DatepickerDemoCtrl" >
                    <div class="input-group ">
                      <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
            </div>
            <div ng-show="myDropDown=='date'">
                <label class="col-md-1 control-label">End Date</label>
                  <div class="col-md-2" ng-controller="DatepickerDemoCtrl" >
                    <div class="input-group ">
                      <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Search</label>
          <div class="col-lg-3">
            <input class="form-control" placeholder="Search" type="text">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

