<style>
/*md-dialog{
  max-width: 100% !important;
}*/
  md-input-container {
      margin: 26px 18px 0 !important;
  }
  .m-b {
      margin-bottom: 0px !important;
  }
  md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
    /*margin-top: -22px !important;*/

  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px !important
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }
  .customInput{
    margin-top: 0px !important;
  }
 @media screen and (max-width: 320px) {
    .modelfooter {
      padding-right: 44px !important;
    }
  }
  @media screen and (max-width: 360px){
   .modelfooter {
      padding-right: 60px !important;
    } 
  }
  .modelfooter {
      padding-right: 160px ;
    }
</style>

<md-dialog aria-label="Mango (Fruit)" style="width: 500px">
  <!-- <form name="Form" ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4 >Generate Payslips </h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
<!--     <md-dialog-content>
      <form name="userForm">
      <div class="col-md-12">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30" style="margin-top: 34px">
              <label>Payroll group</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social"/>
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30" style="margin-top: 34px">
              <label>Payment frequency</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social" />
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Type</label>
            </div>
            <div flex flex-gt-xs="70">
             <md-datepicker ng-model="ctrl.myDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      </div>
      <br>
      <br>
      </form>    
    </md-dialog-content> -->
    <md-dialog-content>
      <md-content layout-padding>
        <div layout-gt-xs="row">
          <div flex-gt-xs="5"></div>
          <div flex-gt-xs="90">
            <div layout-gt-xs="row">
              <div flex-gt-xs="30">
                <label>Payroll group</label>
              </div>
              <div flex-gt-xs="70">
                <md-input-container class="md-block customInput" flex-gt-sm >
                  <input ng-model="user.city">
                </md-input-container>
              </div>
            </div>
          </div>
          <div flex-gt-xs="5"></div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs="5"></div>
          <div flex-gt-xs="90">
            <div layout-gt-xs="row">
              <div flex-gt-xs="30">
                <label>Payment Type</label>
              </div>
              <div flex-gt-xs="70">
                <md-input-container class="md-block customInput" flex-gt-sm>
                  <input ng-model="user1"  >
                </md-input-container>
              </div>
            </div> 
          </div>
          <div flex-gt-xs="5"></div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs="5"></div>
          <div flex-gt-xs="90">
            <div layout-gt-xs="row">
              <div flex-gt-xs="30">
                <label>Category Type</label>
              </div>
              <div flex-gt-xs="70">
                <md-radio-group ng-model="empAdm.EMP_GENDER">                
                <label class="radio-inline">
                  <md-radio-button value="Earnings" class="md-primary" >Earnings</md-radio-button>
                </label>
                <label class="radio-inline">
                   <md-radio-button value="Deduction" class="md-primary"> Deduction </md-radio-button>
                </label>
              </md-radio-group>
              </div>
            </div>
          </div>
          <div flex-gt-xs="5"></div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="border-top: 1px solid #DDDDDD">
      <!-- <md-dialog-actions layout="row"> -->
      <span flex></span>
      <div class="m-b modelfooter">
      <button ng-click="cancel()" class="md-btn md-raised m-b btn-fw red" md-ink-ripple="">
      Cancel
      <div class="md-ripple-container" style=""></div>
      </button>&nbsp
      <button ng-click="saveClass();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" >
      &nbsp Proceed &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      </div>
    </md-dialog-actions>
  <!-- </form> -->
</md-dialog>