<style>
/*md-dialog{
  max-width: 100% !important;
}*/
md-input-container {
    margin: 26px 18px 0 !important;
}
.m-b {
    margin-bottom: 0px !important;
}
</style>

<md-dialog aria-label="Mango (Fruit)" style="width: 500px">
  <!-- <form name="Form" ng-cloak> -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4 >Generate Payslips </h4>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <form name="userForm">
      <div class="col-md-12">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30" style="margin-top: 34px">
              <label>Payroll group</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social"/>
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30" style="margin-top: 34px">
              <label>Payment frequency</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social" />
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div class="flex-gt-xs-10"></div>
        <div flex flex-gt-xs="80">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Type</label>
            </div>
            <div flex flex-gt-xs="70">
             <md-datepicker ng-model="ctrl.myDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
      </div>
      </div>
      <br>
      <br>
        <!-- <center>
          <md-button class="md-raised md-primary">Create</md-button>
          <md-button class="md-raised md-warn">Cancel</md-button>
        </center> -->
    </form>    
    </md-dialog-content>
    <br>
    <md-dialog-actions layout="row">
      <span flex></span>
      <div class="m-b" style="padding-right: 182px">
      <button ng-click="cancel()" class="md-btn md-raised m-b btn-fw red" md-ink-ripple="">
      Cancel
      <div class="md-ripple-container" style=""></div>
      </button>&nbsp
      <button ng-click="saveClass();Form.$setPristine()" class="md-btn md-raised m-b btn-fw green" md-ink-ripple="" >
      &nbsp Proceed &nbsp
      <div class="md-ripple-container" style=""></div>
      </button>
      </div>
    </md-dialog-actions>
  <!-- </form> -->
</md-dialog>