<!-- <div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>HR</b> | Create Payroll Category
      </h4>
    </div>
    <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Payroll & Paysilp</a></li>
        <li><a href="">Payroll Categories</a></li>
        <li class="active">Create Payroll Category </li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
      <div class="panel-body">
      <legend>Create Payroll Category</legend>
        <form role="form" class="ng-pristine ng-valid">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" placeholder="Enter email" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <div class="checkbox">
            <label class="i-checks">
              <input type="checkbox" disabled="" checked=""><i></i> Check me out
            </label>
          </div>
          <button class="btn btn-sm btn-primary" type="submit">Submit</button>
        </form>
      </div>
  </div>
</div> -->
<style type="text/css">
  md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }
</style>
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>HR</b> | Create Payroll Category
      </h4>
    </div>
    <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Payroll & Paysilp</a></li>
        <li><a href="">Payroll Categories</a></li>
        <li class="active">Create Payroll Category</li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
  <md-content layout-padding>
    <form name="userForm">    
      <legend>Create Payroll Category</legend>    
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social" placeholder="Category Name" />
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10"></div>
        <div flex flex-gt-xs="45">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Value </label>
            </div>
            <div flex flex-gt-xs="70">
              <md-radio-group ng-model="empAdm.EMP_GENDER">                
                <label class="radio-inline">
                  <md-radio-button value="Male" class="md-primary">Earnings</md-radio-button>
                </label>
                <label class="radio-inline">
                   <md-radio-button value="Female"> Deduction </md-radio-button>
                </label>
              </md-radio-group>
            </div>  
          </div>
        </div>
      </div>
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Code</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social1" placeholder="Category Code"/>
              </md-input-container>
            </div>  
          </div>
        </div>
          <div flex flex-gt-xs="10"></div>
        <div flex flex-gt-xs="45">
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category Value</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="social" ng-model="user.social1" placeholder="Category Value"/>
              </md-input-container>
            </div> 
          </div>
        </div>
      </div>
      <br>
      <br>
        <center>
          <md-button class="md-raised md-primary">Create</md-button>
          <md-button class="md-raised md-warn">Cancel</md-button>
        </center>
    </form>    
  </md-content>
</div>