<style>
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    /*background: #00acac none repeat scroll 0 0 !important;#333*/
    background: #00ACAC none repeat scroll 0 0 !important;
    color:#ffffff !important;
}
.btncolor{
  background: #00ACAC !important;
}
.imp{
   color:red !important;
}


md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }

  .md-tab {
    /*color: rgb(88,102,110) !important;*/
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1) 0s;
    white-space: nowrap;
}

  [ng-app] > img {
  width: 100%;
}

.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}

.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}
pre {
  margin: 30px;
  font-size: 10px;
}

md-datepicker .md-datepicker-input {
    width: calc(24.5vw - 64px);
    max-width: calc(24.5vw - 64px);
  }
@media only screen and (max-width: 600px) {
    md-datepicker .md-datepicker-input {
      width: calc(87vw - 64px);
      max-width: calc(87vw - 64px);
    }
}

</style>

<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-graduation-cap"></i> &nbsp&nbsp<b>Students</b> | Admission</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
</div>
<div class="wrapper-md">
  

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Student admission">
      <md-content class="md-padding">
      <form name="userForm">
      
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <legend>Official Details</legend> 
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Admission Number</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                 <input name="STU_ADM_NO" ng-model="Stud.STU_ADM_NO">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Admission Date</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-datepicker ng-model="Stud.STU_ADM_DT" md-placeholder="Admission Date" md-open-on-focus></md-datepicker>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Course Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select ng-model="Stud.STU_ADM_CB_COURSE">
                <md-select-header class="demo-select-header" md-on-close="clearSearchTerm()">
                  <input ng-model="searchTerm"
                         type="search"
                         placeholder=" Search for class name.."
                         class="demo-header-searchbox md-text">
                </md-select-header>
                  <md-option ng-repeat="class in rowCollectionCourse | filter:searchTerm " ng-value="class.ACA_COU_ID">
                    {{class.ACA_COU_NAME}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Batch Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                  <md-select ng-model="Stud.STU_ADM_CB_BATCH">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="class in rowCollectionBatch" ng-value="class.ACA_BAT_ID">
                      {{class.ACA_BAT_NAME}}
                    </md-option>
                  </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>Roll Number</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" required name="STU_ADM_CB_ROLL_NO" ng-model="Stud.STU_ADM_CB_ROLL_NO">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Academic Year</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                <md-option value="2015">2015</md-option>
                <md-option value="2016">2016</md-option>
                <md-option value="2017">2017</md-option>
                <md-option value="2018">2018</md-option>
                <md-option value="2019">2019</md-option>
                <md-option value="2020">2020</md-option>
              </md-select>
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Personal Details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>First Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                 <input required name="STU_ADM_FIRST_NAME" ng-model="Stud.STU_ADM_FIRST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Last Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_ADM_LAST_NAME" ng-model="Stud.STU_ADM_LAST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Gender</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
              <br>
                <md-radio-group layout="row" ng-model="Stud.STU_ADM_GENDER">
                  <md-radio-button value="Male" class="md-primary"> Male </md-radio-button>
                  <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
                </md-radio-group>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>Nationality</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select ng-model="Stud.STU_ADM_NATIONALITY" md-on-close="clearSearchTerm()">
              <md-select-header class="demo-select-header">
                <input ng-model="searchTerm"
                       type="search"
                       class="demo-header-searchbox md-text">
              </md-select-header>
                <md-option ng-repeat="nation in nationality | filter:searchTerm" ng-value="nation">
                  {{nation}}
                </md-option>
              </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Mother Tongue</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select ng-model="Stud.STU_ADM_MOTHER_TONGUE" md-on-close="clearSearchTerm()">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                    <md-option ng-repeat="lang in mothertongue | filter:searchTerm" ng-value="lang">
                      {{lang}}
                    </md-option>
                  </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Religion</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input required name="STU_ADM_RELIGION" ng-model="Stud.STU_ADM_RELIGION">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Date of Birth</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-datepicker ng-model="Stud.STU_ADM_DOB" md-placeholder="Date of Birth" md-open-on-focus></md-datepicker>
              </md-input-container>
            </div>  
          </div>              
        </div>
        </div>

      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Contact Details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 1</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input required name="STU_ADM_ADD1" ng-model="Stud.STU_ADM_ADD1">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 2</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_ADM_ADD2" ng-model="Stud.STU_ADM_ADD2">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>City</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_ADM_CITY" ng-model="Stud.STU_ADM_CITY">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>State</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_ADM_STATE" ng-model="Stud.STU_ADM_STATE">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
               <label>Pincode</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_ADM_PINCODE" ng-model="Stud.STU_ADM_PINCODE">
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Contact Details Continued</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Country</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                <md-option value="India">India</md-option>
                <md-option value="America">America</md-option>
                <md-option value="Australia">Australia</md-option>
                <md-option value="England">England</md-option>
                <md-option value="Srilanga">Srilanga</md-option>
              </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Phone</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="STU_ADM_PHONE" ng-model="Stud.STU_ADM_PHONE">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Phone</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="STU_ADM_PHONE" ng-model="Stud.STU_ADM_PHONE">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Mobile</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" required name="STU_ADM_MOBILE" ng-model="Stud.STU_ADM_MOBILE">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>E-mail</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="email" required name="STU_ADM_EMAIL" ng-model="Stud.STU_ADM_EMAIL" minlength="10" maxlength="100">
              </md-input-container>
            </div>  
          </div>
        </div>
      </div>
      </form>
      </md-content>
      </md-tab>
      <md-tab label="Parent/Guardian Details">
      <md-content class="md-padding">
      <form name="userForm1">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Parent - Personal details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
               <label>First Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_FIRST_NAME" ng-model="Stud.STU_PA_FIRST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Last Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_LAST_NAME" ng-model="Stud.STU_PA_LAST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
               <label>Relation</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
               <input name="STU_PA_RELATION" ng-model="Stud.STU_PA_RELATION">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Bate of Birth</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                  <md-datepicker ng-model="Stud.STU_PA_DOB" md-placeholder="Date of Birth" md-open-on-focus></md-datepicker>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>Education</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_EDUCATION" ng-model="Stud.STU_PA_EDUCATION">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>Occupation</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_OCCUPATION" ng-model="Stud.STU_PA_OCCUPATION">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>Income</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_INCOME" ng-model="Stud.STU_PA_INCOME">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>E-Mail</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="email" name="STU_PA_EMAIL" ng-model="Stud.STU_PA_EMAIL">
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Parent Contact Detail</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 1</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                 <input name="STU_PA_ADD1" ng-model="Stud.STU_PA_ADD1">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 2</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_ADD2" ng-model="Stud.STU_PA_ADD2">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>City</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_CITY" ng-model="Stud.STU_PA_CITY">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label>State</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_STATE" ng-model="Stud.STU_PA_STATE">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Country</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                <md-option value="India">India</md-option>
                <md-option value="America">America</md-option>
                <md-option value="Australia">Australia</md-option>
                <md-option value="England">England</md-option>
                <md-option value="Srilanga">Srilanga</md-option>
              </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Phone 1</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="STU_PA_PHONE1" ng-model="Stud.STU_PA_PHONE1">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Phone 2</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="STU_PA_PHONE2" ng-model="Stud.STU_PA_PHONE2">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Mobile</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
               <input type="number" name="STU_PA_MOBILE" ng-model="Stud.STU_PA_MOBILE">
              </md-input-container>
            </div>  
          </div>
        </div>
        </div>

      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Gaurdian - Personal Details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Gaurdian Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_GA_NAME" ng-model="Stud.STU_PA_GA_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Relation</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                 <input name="STU_PA_GA_RELATION" ng-model="Stud.STU_PA_GA_RELATION">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 1</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_GA_ADD1" ng-model="Stud.STU_PA_GA_ADD1">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Address Line 2</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_GA_ADD2" ng-model="Stud.STU_PA_GA_ADD2">
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Gaurdian Details Continued</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>City</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_GA_CITY" ng-model="Stud.STU_PA_GA_CITY">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>State</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PA_GA_STATE" ng-model="Stud.STU_PA_GA_STATE">
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Country</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select name="STU_PA_GA_COUNTRY" ng-model="Stud.STU_PA_GA_COUNTRY">
                <md-option value="India">India</md-option>
                <md-option value="America">America</md-option>
                <md-option value="Australia">Australia</md-option>
                <md-option value="England">England</md-option>
                <md-option value="Srilanga">Srilanga</md-option>
              </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Phone</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input type="number" name="STU_PA_GA_PHONE1" ng-model="Stud.STU_PA_GA_PHONE1">
              </md-input-container>
            </div>  
          </div>
        </div>
      </div>
      </form>
      </md-content>
      </md-tab>
      <md-tab label="Previous Educational Details">
      <md-content class="md-padding">
      <form name="userForm2">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Parent - Personal details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
               <label>Institution Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PRE_D_INSTITUTE_NAME" ng-model="Stud.STU_PRE_D_INSTITUTE_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Course Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PRE_D_COURSE" ng-model="Stud.STU_PRE_D_COURSE">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
               <label>Year</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
               <input name="STU_PRE_D_YEAR" ng-model="Stud.STU_PRE_D_YEAR">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Total marks</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                  <input name="STU_PRE_D_YEARS" ng-model="Stud.STU_PRE_D_YEARS">
              </md-input-container>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
            <h3>Additional Details</h3>
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Blood group</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                 <md-select name="STU_PRE_ADD_BLOOD_GROUP" ng-model="Stud.STU_PRE_ADD_BLOOD_GROUP">
                  <md-option value="A+">A+</md-option>
                  <md-option value="A-">A-</md-option>
                  <md-option value="A1+">A1+</md-option>
                  <md-option value="A1-">A1-</md-option>
                  <md-option value="O+">O+</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Birth Place</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input name="STU_PRE_ADD_BIRTH_PLACE" ng-model="Stud.STU_PRE_ADD_BIRTH_PLACE">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-select name="STU_PRE_ADD_BLOOD_GROUP" ng-model="Stud.STU_PRE_ADD_BLOOD_GROUP">
                  <md-option value="Term 1 Fee">Term 1 Fee</md-option>
                  <md-option value="Fee-">Fee</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row" ng-init="reInitialize()">
            <div flex flex-gt-xs="30">
              <label class="control-label">Profile Image</label>
            </div>
            <div flex flex-gt-xs="70">
                <!-- <input ui-jq="filestyle" ui-options="{icon: false, buttonName: 'btn-primary'}" type="file" multiple="" name="STU_PRE_ADD_IMAGE_PATH"  ng-model="Stud.STU_PRE_ADD_IMAGE_PATH" ng-files="getTheFiles($files)"> -->
                <div drop-zone ng-model="STU_PRE_ADD_IMAGE_PATH" class="one" style="width:100px;height: 100px;background-image: url({{data}});background-size: 100% 100%;background-repeat: no-repeat;">
                </div>
            </div>  
          </div>
        </div>
        </div>
      </form>
      </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


</div>
