<style>
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    /*background: #00acac none repeat scroll 0 0 !important;#333*/
    background: #00ACAC none repeat scroll 0 0 !important;
    color:#ffffff !important;
}
.btncolor{
  background: #00ACAC !important;
}
.imp{
   color:red !important;
}

.md-padding {
    padding: 5px !important;
}

md-card.md-default-theme, md-card {
    background-color: rgb(250,250,250) !important;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
}

md-content.md-default-theme, md-content {
    background-color: rgb(245, 245, 245) !important;
    color: rgba(0, 0, 0, 0.87);
}

md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color:#888f96;
  }

  md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color:#888f96;
}
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }

  .row.AdjPad {
      margin: 5px;
  }

  .row.AdjPad.topPad {
      padding-top: 5px;
  }

  .md-tab {
    /*color: rgb(88,102,110) !important;*/
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: none;
    transition: background-color 0.35s cubic-bezier(0.35, 0, 0.25, 1) 0s;
    white-space: nowrap;
}

/*.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
  .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
    background: white; }
.tabsdemoDynamicHeight md-content h3:first-child {
  margin-top: 0; }*/


[ng-app] > img {
  width: 100%;
}

.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}

.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}
pre {
  margin: 30px;
  font-size: 10px;
}

md-datepicker .md-datepicker-input {
    width: calc(16.5vw - 64px);
    max-width: calc(16.5vw - 64px);
  }
@media only screen and (max-width: 600px) {
    md-datepicker .md-datepicker-input {
      width: calc(65vw - 64px);
      max-width: calc(65vw - 64px);
    }
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background: rgb(3,155,229) none repeat scroll 0 0 !important;
    color: rgb(255, 64, 129);
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(45,50,62) !important;
}

</style>

<div class="bg-light lter b-b wrapper-md">
    <div class="row">
    <div class="col-md-4">
      <h4 class="m-n font-thin h4"><i class="fa fa-graduation-cap"></i> &nbsp&nbsp<b>Students</b> | Admission</h4>
      </div>
      <div class="col-md-8">
      <ul class="breadcrumb pull-right">
        <li><a href=""><i class="fa fa-home"></i> Breadcrumb</a></li>
        <li><a href="">Elements</a></li>
        <li class="active">Components</li>
      </ul>
      </div>
    </div>
</div>
<div class="wrapper-md">
  

<div ng-cloak class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <md-tab label="Student admission">
        <md-content class="md-padding">
          <form name="userForm">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Official Details</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <label>Admission Number</label>
                        <input required name="STU_ADM_NO" ng-model="Stud.STU_ADM_NO">
                      </md-input-container>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <md-datepicker ng-model="Stud.STU_ADM_DT" md-placeholder="Admission Date" md-open-on-focus></md-datepicker>
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Course Name</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Batch Name</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Rollnumber</label>
                        <input required name="STU_ADM_NO" ng-model="Stud.STU_ADM_NO">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Academic Year</label>
                        <input required name="STU_ADM_NO" ng-model="Stud.STU_ADM_NO">
                      </md-input-container>
                    </div>
                  </div>
                  <p></p>
                   <p></p>
                    <p></p>
                    <p></p>
                   <p></p>
                    <p></p>
                    <p></p>
                </md-card>
              </div>
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Personal Details</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                  <div class="form-group col-sm-12">
                    <md-input-container class="md-icon-float md-block">
                      <label>Full Name</label>
                      <md-icon md-svg-src="img/icons/index.svg"  class="name"></md-icon>
                      <input ng-model="user.name" type="text">
                    </md-input-container>
                  </div>
                  </div>
                  <div class="row AdjPad">
                  <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <md-radio-group layout="row" ng-model="Stud.STU_ADM_GENDER">
                          <md-radio-button value="Male" class="md-primary"> Male </md-radio-button>
                          <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
                        </md-radio-group>
                      </md-input-container>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                    <md-input-container class="md-icon-float md-block">
                     <md-input-container class="md-block">
                        <md-datepicker ng-model="Stud.STU_ADM_DT" md-placeholder="Date Of Birth" md-open-on-focus></md-datepicker>
                      </md-input-container>
                    </md-input-container>
                  </div>
                  
                  
                  </div>
                  <div class="row AdjPad">
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                        <label>MotherTongue</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                  </div>
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-icon-float md-block">
                      <label>Relegion</label>
                      <input ng-model="user.name" type="text">
                    </md-input-container>
                  </div>
                  
                  </div>

                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                        <label>Nationality</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                  </div>
                  </div>

                  
                </md-card>
              </div>
            </md-content>
            <md-content class="md-padding" layout-xs="column" layout="row">
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Contact Details</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Address Line</label>
                        <input required name="STU_ADM_ADD1" ng-model="Stud.STU_ADM_ADD1">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>City</label>
                        <input name="STU_ADM_CITY" ng-model="Stud.STU_ADM_CITY">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>State</label>
                        <input name="STU_ADM_STATE" ng-model="Stud.STU_ADM_STATE">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Pincode</label>
                        <input name="STU_ADM_PINCODE" ng-model="Stud.STU_ADM_PINCODE">
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Contact Details Continued</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Country</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Phone</label>
                        <input type="text" name="STU_ADM_PHONE" ng-model="Stud.STU_ADM_PHONE">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Mobile</label>
                        <input type="text" required name="STU_ADM_MOBILE" ng-model="Stud.STU_ADM_MOBILE">
                        <div ng-messages="step1.STU_ADM_MOBILE.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input type="email" required name="STU_ADM_EMAIL" ng-model="Stud.STU_ADM_EMAIL" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="step1.STU_ADM_EMAIL.$error" role="alert">
                          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
            </md-content>
            <md-button class="md-raised md-primary pull-right" style="background-color: rgb(65,85,94) !important;" ng-click="nextTab();saveStuAdmission()">Save & Next</md-button>
          <!-- <button md-ink-ripple class="md-btn md-raised m-b btn-fw pink pull-right" ng-click="nextTab()">Save & Next</button> -->
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Parent/Guardian Details">
        <md-content class="md-padding">
          <form name="userForm1">
            <md-content class="md-padding" layout-xs="column" layout="row">
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Parent - Personal details</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-12">
                      <md-input-container class="md-icon-float md-block">
                        <label>Full Name</label>
                        <md-icon md-svg-src="img/icons/index.svg"  class="name"></md-icon>
                        <input name="STU_PA_FIRST_NAME" ng-model="Stud.STU_PA_FIRST_NAME" type="text">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <label>Relation</label>
                        <input name="STU_PA_RELATION" ng-model="Stud.STU_PA_RELATION">
                      </md-input-container>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <md-datepicker ng-model="Stud.STU_PA_DOB" md-placeholder="Date of Birth" md-open-on-focus></md-datepicker>
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Education</label>
                        <input name="STU_PA_EDUCATION" ng-model="Stud.STU_PA_EDUCATION">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Occupation</label>
                        <input name="STU_PA_OCCUPATION" ng-model="Stud.STU_PA_OCCUPATION">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Income</label>
                        <input name="STU_PA_INCOME" ng-model="Stud.STU_PA_INCOME">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>E-Mail</label>
                        <input type="email" name="STU_PA_EMAIL" ng-model="Stud.STU_PA_EMAIL">
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Parent Contact Detail</span>
                    </md-card-title-text>
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-12">
                      <md-input-container class="md-block">
                        <label>Address Line</label>
                        <input name="STU_PA_ADD1" ng-model="Stud.STU_PA_ADD1">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>City</label>
                        <input name="STU_PA_CITY" ng-model="Stud.STU_PA_CITY">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>State</label>
                        <input name="STU_PA_STATE" ng-model="Stud.STU_PA_STATE">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <label>Country</label>
                        <md-select name="STU_ADM_COUNTRY" ng-model="Stud.STU_ADM_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                      <md-input-container class="md-block">
                        <label>Phone 1</label>
                        <input type="text" name="STU_PA_PHONE1" ng-model="Stud.STU_PA_PHONE1">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad topPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Phone 2</label>
                        <input type="text" name="STU_PA_PHONE2" ng-model="Stud.STU_PA_PHONE2">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Mobile</label>
                        <input type="text" name="STU_PA_MOBILE" ng-model="Stud.STU_PA_MOBILE">
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
            </md-content>
            <md-content class="md-padding" layout-xs="column" layout="row">
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Gaurdian - Personal Details</span>
                    </md-card-title-text>
                    <!-- <md-card-title-media>
                      <div class="md-media-lg card-media"></div>
                    </md-card-title-media> -->
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Gaurdian Name</label>
                        <md-icon md-svg-src="img/icons/index.svg"  class="name"></md-icon>
                        <input name="STU_PA_GA_NAME" ng-model="Stud.STU_PA_GA_NAME">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Relation</label>
                        <input name="STU_PA_GA_RELATION" ng-model="Stud.STU_PA_GA_RELATION">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Address Line 1</label>
                        <input name="STU_PA_GA_ADD1" ng-model="Stud.STU_PA_GA_ADD1">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Address Line 2</label>
                        <input name="STU_PA_GA_ADD2" ng-model="Stud.STU_PA_GA_ADD2">
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
              <div flex-xs flex-gt-xs="50" layout="column">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Gaurdian Details Continued</span>
                    </md-card-title-text>
                    <!-- <md-card-title-media>
                      <div class="md-media-lg card-media"></div>
                    </md-card-title-media> -->
                  </md-card-title>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>City</label>
                        <input name="STU_PA_GA_CITY" ng-model="Stud.STU_PA_GA_CITY">
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>State</label>
                        <input name="STU_PA_GA_STATE" ng-model="Stud.STU_PA_GA_STATE">
                      </md-input-container>
                    </div>
                  </div>
                  <div class="row AdjPad">
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Country</label>
                        <md-select name="STU_PA_GA_COUNTRY" ng-model="Stud.STU_PA_GA_COUNTRY">
                          <md-option value="India">India</md-option>
                          <md-option value="America">America</md-option>
                          <md-option value="Australia">Australia</md-option>
                          <md-option value="England">England</md-option>
                          <md-option value="Srilanga">Srilanga</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="form-group col-sm-6">
                      <md-input-container class="md-block">
                        <label>Phone</label>
                        <input type="text" name="STU_PA_GA_PHONE1" ng-model="Stud.STU_PA_GA_PHONE1">
                      </md-input-container>
                    </div>
                  </div>
                </md-card>
              </div>
            </md-content>
            <br>

            <md-button class="md-raised md-primary" style="background-color: rgb(65,85,94) !important;" ng-click="prevTab()">Previous</md-button>
            <md-button class="md-raised md-primary pull-right" style="background-color: rgb(65,85,94) !important;" ng-click="nextTab()">Save & Next</md-button>

            <!-- <md-button class="md-raised md-primary" ng-click="prevTab()">Previous</md-button>
            <md-button class="md-raised md-primary pull-right" ng-click="nextTab()">Save & Next</md-button> -->
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Previous Educational Details">
      <md-content class="md-padding">
        <form name="userForm2">
          <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex-gt-xs="50" layout="column">
              <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Educational Details</span>
                  </md-card-title-text>
                </md-card-title>
                <div class="row AdjPad">
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Institution Name</label>
                      <input name="STU_PRE_D_INSTITUTE_NAME" ng-model="Stud.STU_PRE_D_INSTITUTE_NAME">
                    </md-input-container>
                  </div>
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Class</label>
                      <input name="STU_PRE_D_COURSE" ng-model="Stud.STU_PRE_D_COURSE">
                    </md-input-container>
                  </div>
                </div>
                <div class="row AdjPad">
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Year</label>
                      <input name="STU_PRE_D_YEAR" ng-model="Stud.STU_PRE_D_YEAR">
                    </md-input-container>
                  </div>
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Total marks</label>
                      <input name="STU_PRE_D_YEARS" ng-model="Stud.STU_PRE_D_YEARS">
                    </md-input-container>
                  </div>
                  <br><br><br><br><br><br><br><br>
                </div>
              </md-card>
            </div>
            <div flex-xs flex-gt-xs="50" layout="column">
              <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Parent Contact Detail</span>
                  </md-card-title-text>
                </md-card-title>
                <div class="row AdjPad">
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Blood group</label>
                      <md-select name="STU_PRE_ADD_BLOOD_GROUP" ng-model="Stud.STU_PRE_ADD_BLOOD_GROUP">
                        <md-option value="A+">A+</md-option>
                        <md-option value="A-">A-</md-option>
                        <md-option value="A1+">A1+</md-option>
                        <md-option value="A1-">A1-</md-option>
                        <md-option value="O+">O+</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Birth Place</label>
                      <input name="STU_PRE_ADD_BIRTH_PLACE" ng-model="Stud.STU_PRE_ADD_BIRTH_PLACE">
                    </md-input-container>
                  </div>
                </div>
                <div class="row AdjPad">
                  <div class="form-group col-sm-6">
                    <md-input-container class="md-block">
                      <label>Category</label>
                      <md-select name="STU_PRE_ADD_BLOOD_GROUP" ng-model="Stud.STU_PRE_ADD_BLOOD_GROUP">
                        <md-option value="Term 1 Fee">Term 1 Fee</md-option>
                        <md-option value="Fee-">Fee</md-option>
                      </md-select>
                    </md-input-container>
                  </div>
                  <div class="form-group col-sm-6">
                    <label>Profile Image</label>
                    <div drop-zone ng-model="STU_PRE_ADD_IMAGE_PATH" class="one" style="width:100px;height: 100px;background-image: url({{data}});background-size: 100% 100%;background-repeat: no-repeat;">
                    </div>
                  </div>
                </div>
              </md-card>
            </div>
          </md-content>
          <md-button class="md-raised md-primary" style="background-color: rgb(65,85,94) !important;" ng-click="prevTab()">Previous</md-button>
          <md-button class="md-raised md-primary pull-right" style="background-color: rgb(65,85,94) !important;" ng-click="nextTab()">Save & Finish</md-button>
          <!-- <md-button class="md-raised md-primary" ng-click="prevTab()">Previous</md-button>
          <md-button class="md-raised md-primary pull-right">Save & Finish</md-button> -->
        </form>
      </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>


</div>
