<style type="text/css">
  md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }

  [ng-app] > img {
  width: 100%;
}

.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}

.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}
pre {
  margin: 30px;
  font-size: 10px;
}
  md-datepicker .md-datepicker-input {
    width: calc(24.5vw - 64px);
    max-width: calc(24.5vw - 64px);
  }
@media only screen and (max-width: 600px) {
    md-datepicker .md-datepicker-input {
      width: calc(87vw - 64px);
      max-width: calc(87vw - 64px);
    }
}
</style>
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
  <div class="col-md-4">
    <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>Employee admission</b> | Admission</h4>
    </div>
    <div class="col-md-8">
    <ul class="breadcrumb pull-right">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href="">Employee Management</a></li>
      <li class="active">Employee Admission</li>
    </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Employee admission">
        <md-content layout-padding>
    <form name="userForm">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <h3>Personal Information</h3>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Employee Number</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="EMP_NO" >
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Joining Date</label>
            </div>
            <div flex flex-gt-xs="70">
               <md-input-container class="md-block" flex-gt-sm>
                  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>First Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input  ng-model="FIRST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Last Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="LAST_NAME" >
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Gender</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-radio-group ng-model="empAdm.EMP_GENDER">
                <label class="radio-inline">
                  <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                </label>
                <label class="radio-inline">
                   <md-radio-button value="Female"> Female </md-radio-button>
                </label>
              </md-radio-group>
            </div>  
          </div>


          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Date of Birth</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Marital Status</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="MARITAL_STATUS">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">Single</md-option>
                  <md-option ng-value="2">Marital</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Religion</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="RELIGION">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">Hindu</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Blood Group</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="EMP_BLOOD_GROUP">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">A +ve</md-option>
                  <md-option ng-value="2">B +ve</md-option>
                  <md-option ng-value="3">A -ve</md-option>
                  <md-option ng-value="4">B -ve</md-option>
                  <md-option ng-value="5">O +ve</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Nationality</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="NATIONALITY">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">India</md-option>
                  <md-option ng-value="2">SriLanga</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Upload Profile</label>
            </div>
            <div flex flex-gt-xs="70">
              <div drop-zone ng-model="EMP_PROFILE" class="one" style="width:100px;height: 100px;background-image: url({{data}});background-size: 100% 100%;background-repeat: no-repeat;">
              </div>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <h3>Work Information</h3>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Department</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="DEPARTMENT">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">English</md-option>
                  <md-option ng-value="2">Hindi</md-option>
                  <md-option ng-value="3">Maths</md-option>
                  <md-option ng-value="4">Science</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="CATEGORY" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">Finance</md-option>
                  <md-option ng-value="2">Human Resource</md-option>
                  <md-option ng-value="3">Teacher</md-option>
                  <md-option ng-value="4">System Admin</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Position</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="POSITION" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">Lab Assistant</md-option>
                  <md-option ng-value="2">System Admin</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Job Title</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="JOB_TITLE" >
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Qualification</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input  ng-model="QUALIFICATION" >
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Total Experience</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="TOT_EXP_YEAR" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-value="1">1 Years</md-option>
                  <md-option ng-value="2">2 Years</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Experience Info</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="EXP_INFO" >
              </md-input-container>
            </div>  
          </div>
        </div>
      </div>
    </form>
  </md-content>
      </md-tab>
      <md-tab label="Contact Information">
        <md-content layout-padding>
          <form name="userForm">
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
              <div flex flex-gt-xs="45">
                <h3>Contact Information</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Address 1</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="ADDRESS1">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Address 2</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="ADDRESS2">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Email Address</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="EMAIL">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Phone Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="PHONE_NUM">
                    </md-input-container>
                  </div>  
                </div>
              </div>
              <div flex flex-gt-xs="10">
              </div>
              <div flex flex-gt-xs="45">
                <h3>&nbsp;</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>City</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="CITY">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>State</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="STATE">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>PinCode</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="PINCODE">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Office Phone</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="OFF_PHONE">
                    </md-input-container>
                  </div>  
                </div>
              </div>
            </div>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Additional Details">
        <md-content layout-padding>
          <form name="userForm">
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
              <div flex flex-gt-xs="45">
                <h3>Bank Details</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Account Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="Acc_Name">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Account Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="Acc_Num">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Bank Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="BANK_NAME">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Branch Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="BRANCH_NAME">
                    </md-input-container>
                  </div>  
                </div>
              </div>
              <div flex flex-gt-xs="10">
              </div>
              <div flex flex-gt-xs="45">
                  <h3>Additional Details</h3>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Passport Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="PASSPORT_NUM">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label> PAN Number </label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="PAN_NUM">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Adhar Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="ADHAR_NUM">
                    </md-input-container>
                  </div>  
                </div>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Work Permit</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="WORk_PERMIT">
                    </md-input-container>
                  </div>  
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-sm pull-right">Submit</button>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>



</div>