<style type="text/css">
  md-input-container.md-default-theme .md-input, md-input-container .md-input{
    border-bottom-color: #777777;
  }
  md-input-container.md-default-theme .md-input, md-input-container label{
    font-size: 15px !important;
  }
  md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float){
    transform: translate3d(0px, 20px, 0px) scale(0.75);
  }
  md-input-container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  md-input-container .md-errors-spacer{
    min-height: 7px;
  }
  label{
    font-size: 16px;
    padding-top: 14px;
    padding-right: 15px;
  }

  [ng-app] > img {
  width: 100%;
}

.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}

.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}
pre {
  margin: 30px;
  font-size: 10px;
}
  md-datepicker .md-datepicker-input {
    width: calc(24.5vw - 64px);
    max-width: calc(24.5vw - 64px);
  }
@media only screen and (max-width: 600px) {
    md-datepicker .md-datepicker-input {
      width: calc(87vw - 64px);
      max-width: calc(87vw - 64px);
    }
}
</style>
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
  <div class="col-md-4">
    <h4 class="m-n font-thin h4"><i class="fa fa-users"></i> &nbsp&nbsp<b>Employee admission</b> | Admission</h4>
    </div>
    <div class="col-md-8">
    <ul class="breadcrumb pull-right">
      <li><a href=""><i class="fa fa-home"></i> Home</a></li>
      <li><a href="">Employee Management</a></li>
      <li class="active">Employee Admission</li>
    </ul>
    </div>
  </div>
</div>
<div class="wrapper-md">
<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Employee admission">
        <md-content layout-padding>
    <form name="userForm">
      <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
        <div flex flex-gt-xs="45">
          <h3>Personal Information</h3>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Employee Number</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="empAdm.EMP_NO" >
              </md-input-container>
              <input type="hidden" ng-model="empAdm.EMP_ID">
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Joining Date</label>
            </div>
            <div flex flex-gt-xs="70">
               <md-input-container class="md-block" flex-gt-sm>
                  <md-datepicker ng-model="empAdm.EMP_JOIN_DT" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>First Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="empAdm.EMP_FIRST_NAME">
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Last Name</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="empAdm.EMP_LAST_NAME" >
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Gender</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-radio-group ng-model="empAdm.EMP_GENDER">
                <label class="radio-inline">
                  <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
                </label>
                <label class="radio-inline">
                   <md-radio-button value="Female"> Female </md-radio-button>
                </label>
              </md-radio-group>
            </div>  
          </div>


          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Date of Birth</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <md-datepicker ng-model="empAdm.EMP_DOB" md-placeholder="Enter date"></md-datepicker>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Marital Status</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_MARITAL_STATUS">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="marital in maritalstatus" ng-value="marital">{{marital}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Religion</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_RELIGION">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="relig in religionlist" ng-value="relig">{{relig}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Blood Group</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_BLOOD_GROUP">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="blood in bloodgroup" ng-value="blood">{{blood}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Nationality</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_NATIONALITY">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="nation in nationality" ng-value="nation">{{nation}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>{{imageDetails | json}}</label>
            </div>
            <div flex flex-gt-xs="70">
              <div drop-zone ng-model="empAdm.EMP_PROFILE" class="one" style="width:100px;height: 100px;background-image: url({{data}});background-size: 100% 100%;background-repeat: no-repeat;">
              </div>
            </div>  
          </div>
        </div>
        <div flex flex-gt-xs="10">
        </div>
        <div flex flex-gt-xs="45">
          <h3>Work Information</h3>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Department</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_DEPT">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="dept in department" ng-value="dept">{{dept}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Category</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_CATEGORY">
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="cat in empcategory" ng-value="cat">{{cat}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Position</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_POSITION" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="position in selectposition" ng-value="position">{{position}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Job Title</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="empAdm.EMP_JOB_TITLE" >
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Grade</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_GRADE" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="grade in empgrade" ng-value="grade">{{grade}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
           <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Qualification</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input  ng-model="empAdm.EMP_QUALI" >
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Total Experience</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block">
                <md-select ng-model="empAdm.EMP_TOT_EXPE" >
                  <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm"
                           type="search"
                           class="demo-header-searchbox md-text">
                  </md-select-header>
                  <md-option ng-repeat="exp in experience" ng-value="exp">{{exp}}</md-option>
                </md-select>
              </md-input-container>
            </div>  
          </div>
          <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
            <div flex flex-gt-xs="30">
              <label>Experience Info</label>
            </div>
            <div flex flex-gt-xs="70">
              <md-input-container class="md-block" flex-gt-sm>
                <input ng-model="empAdm.EMP_EXPE_INFO" >
              </md-input-container>
            </div>  
          </div>
        </div>
      </div>
    </form>
  </md-content>
      </md-tab>
      <md-tab label="Contact Information">
        <md-content layout-padding>
          <form name="userForm">
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
              <div flex flex-gt-xs="45">
                <h3>Contact Information</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Address 1</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_ADD_1">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Address 2</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_ADD_2">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Email Address</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_EMAIL">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Phone Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_PHONE">
                    </md-input-container>
                  </div>  
                </div>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Mobile Phone</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_MOBILE">
                    </md-input-container>
                  </div>  
                </div>
              </div>
              <div flex flex-gt-xs="10">
              </div>
              <div flex flex-gt-xs="45">
                <h3>&nbsp;</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>City</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block">
                      <md-select ng-model="empCont.EMP_CITY" >
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm"
                                 type="search"
                                 class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-option ng-repeat="city in selectcity" ng-value="city">{{city}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>State</label>
                  </div>
                  <div flex flex-gt-xs="70">
                   <md-input-container class="md-block">
                      <md-select ng-model="empCont.EMP_STATE" >
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm"
                                 type="search"
                                 class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-option ng-repeat="state in selectstate" ng-value="state">{{state}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>  
                </div>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Country</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block">
                      <md-select ng-model="empCont.EMP_COUNTRY" >
                        <md-select-header class="demo-select-header">
                          <input ng-model="searchTerm"
                                 type="search"
                                 class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-option ng-repeat="country in selectcountry" ng-value="country">{{country}}</md-option>
                      </md-select>
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>PinCode</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_PINCODE">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Office Phone</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empCont.EMP_OFF_PHONE">
                    </md-input-container>
                  </div>  
                </div>
              </div>
            </div>
          </form>
        </md-content>
      </md-tab>
      <md-tab label="Additional Details">
        <md-content layout-padding>
          <form name="userForm">
            <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
              <div flex flex-gt-xs="45">
                <h3>Bank Details</h3>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Account Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_ACC_NAME">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Account Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_ACC_NO">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Bank Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_BANK_NAME">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Branch Name</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_BANK_BRANCH_NAME">
                    </md-input-container>
                  </div>  
                </div>
              </div>
              <div flex flex-gt-xs="10">
              </div>
              <div flex flex-gt-xs="45">
                  <h3>Additional Details</h3>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Passport Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_PASSPORT_NO">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label> PAN Number </label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_PAN_NO">
                    </md-input-container>
                  </div>  
                </div>
                 <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Adhar Number</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_ADHAR_NO">
                    </md-input-container>
                  </div>  
                </div>
                <div layout-gt-sm="row" layout-gt-md="row" layout-gt-xs="row">
                  <div flex flex-gt-xs="30">
                    <label>Work Permit</label>
                  </div>
                  <div flex flex-gt-xs="70">
                    <md-input-container class="md-block" flex-gt-sm>
                      <input ng-model="empAdd.EMP_WORK_PERMIT">
                    </md-input-container>
                  </div>  
                </div>
              </div>
            </div>
            <div class="col-md-offset-5" style="padding: 10px;">
              <button class="btn btn-primary btn-sm" ui-sref="app.Employee-Details" ng-click="saveEmployeeDetails()">Save & Finish</button>
            </div>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>



</div>